/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-black: #111204;
    --vt-c-red: #e63946;
    --vt-c-navy-blue: #14142b;
    --vt-c-red-dark: #8b0000;
    --vt-c-white-rgb: rgb(255, 255, 255, 0.2);
    --vt-c-black-rgb: rgb(17, 18, 4, 0.2);
    --vt-c-red-rgb-10: rgb(230, 57, 70, 0.1);
    --vt-c-red-rgb-30: rgb(230, 57, 70, 1);
    --vt-c-navy-blue-rgb: rgb(20, 20, 43);
    --vt-c-red-dark-rgb: rgb(139, 0, 0);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-secondary: var(--vt-c-black);
    --color-text: var(--vt-c-black);
    --color-text-rgb: var(--vt-c-red-rgb-10);
    --color-text-secondary: var(--vt-c-white);
    --color-section-title: var(--vt-c-red);
    --logo: url("/images/logo-mark.png");

    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-secondary: var(--vt-c-white);
        --color-text: var(--vt-c-white);
        --color-text-rgb: var(--vt-c-red-rgb-10);
        --color-text-secondary: var(--vt-c-black);
        --color-section-title: var(--vt-c-red);
        --logo: url("/images/logo-mark.png");

        --section-gap: 160px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
